
:root
{
    --white:#f4f2fc;
    --white-dark:#bcaffb;
    --primary-light:#937ef7;
    --primary:#6552bd;
    --primary-dark:#4a3988;
    --dark:#150540;
    --secondary:#12bbb2;
    --secondary-light:#82f3e9;
    --size-ultra-sm:5px;
    --size-small:10px;
    --size-regular:20px;
    --size-big:50px;
    --size-btn:40px
}

html
{
  scroll-behavior: smooth;
}

@font-face 
{
    font-family:'D4_base';
    src:url('Wattauchimma.ttf') format('truetype');
}

.arrow
{
    background-size:contain;
    aspect-ratio:1/1;
    background-repeat:no-repeat;
    background-position:center;
}

.arrow-r
{
    background-image: url(Images/Icons/arrowR.png);
}

.arrow-l
{
    background-image: url(Images/Icons/arrowL.png);
}

.basement
{
    z-index:101;
}

body
{
    -ms-user-select:none; 
    -moz-user-select:none; 
    -webkit-user-select:none; 
    user-select:none; 
    padding:0px;
    margin:0px;   
    font-family:D4_base, sans-serif;
}

.box
{
    width:100%;
    height:100vh;
}

.bg-dark
{background-color:var(--dark);}

.bg-white
{background-color:var(--white);}

.bg-white-dark
{background-color:var(--white-dark);}

.bg-primary-light
{background-color:var(--primary-light)}

.bg-primary
{background-color:var(--primary)}

.bg-primary-dark
{background-color:var(--primary-dark)}

.bg-secondary
{background-color:var(--secondary);}

.bg-secondary-light
{background-color:var(--secondary-light);}

.btn-about
{
    width:fit-content; height:fit-content;
    border-radius:calc(var(--size-btn));
    border:var(--dark) var(--size-ultra-sm) solid;
    background:var(--white);
    bottom:10%;
    right:10%;
    padding:5px 10px 5px 10px;
    box-sizing:border-box;
    box-shadow:0px 0px 0px var(--secondary);
    transition:background 0.5s ease, box-shadow 0.5s ease;
    text-decoration:none;
}

.btn-about:hover
{
    background:var(--primary-light);
    box-shadow:10px 0px 0px var(--secondary);
    color:var(--secondary-light)
}

.btn:visited
{
    color:var(--dark)
}

.button
{
    height:var(--size-btn);
    border-radius:calc(var(--size-btn) / 2);
    border-width:var(--size-ultra-sm);
    border-style:solid;
    text-decoration:none;
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
}

.car-btn
{
    height:var(--size-btn);
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.car-btn-panel
{
    bottom:10%;
    left:10%;
}

#carousel-pic-char, #carousel-pic-char-shadow, #carousel-pic-news, #carousel-pic-news-shadow
{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.container
{width:100%;}

.divider{height:var(--size-big)}

.font-c-dark
{color:var(--dark);}

.font-c-white
{color:var(--white)}

.font-c-secondary
{color:var(--secondary)}

.font-s-reg
{font-size:var(--size-regular);}

.img-contain
{background-size:contain}

.logo
{
    height:100%;
}

#logo
{
    top:5px;
    height:var(--size-big);
    left:7.5%;
    transition:height 1s ease;
}

#logo:hover
{
    height:calc(var(--size-big) * 2)
}

.menu
{
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    position:fixed;
    box-sizing:border-box;
    z-index:100;
}

#main-menu
{
    height:calc(var(--size-btn) + var(--size-small) * 2);
    top:5px;
}

#main-menu .button
{
    width:12%;
    height:0px;
    border:none;
    transition:height 0.5s ease, color 0.5s ease;
}

#main-menu .button:hover
{
    height:var(--size-btn);
    color:var(--dark)
}

#menu-toggle
{
    display:none;
}

.pd-sm
{padding:var(--size-small);}

.pd-sm-top
{padding:var(--size-small) 0 var(--size-small) 0;}

.pd-reg
{padding:var(--size-regular);}

.pd-10-right
{padding-right:10%;}

.pd-5-left
{padding-left:5%}

.pos-abs
{
    position:absolute;
}

.pos-rel
{
    position:relative;
}

.tgl-button
{
    width:calc(var(--size-big) - var(--size-ultra-sm));
    display:none;
    top:calc(1.5 * var(--size-small));
    left:17.5%;
    cursor:pointer;
}

.title
{
    padding-left:var(--size-regular);
    font-size:var(--size-big);
    width:500px;
    height:20%;
    display:flex;
    align-items:center;
    z-index:2;
    background:linear-gradient(to right, var(--secondary-light), transparent);
}

.to-top
{
    height:calc(var(--size-big) * 2);
    width:calc(var(--size-big) * 1.8);
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    top:0;
    color:var(--dark);
    left:10%;
    border-radius: 0 0 calc(var(--size-big) / 2) calc(var(--size-big) / 2);
    text-decoration:none;
}
    
.to-top:visited
{
    color:var(--dark);
}

.to-top:hover
{
    background-color:var(--primary-dark);
    color:var(--white);
}

@media screen and ((max-width:640px) or (orientation:portrait))
{
    #main-menu
    {
        flex-flow:column;
        transition:height ease 0.5s;
        padding-left:10%;
    }

    #main-menu .button
    {
        display:none;
        width:0;
        transition:width 0.5s ease, color 0.5s ease;
        height:var(--size-btn);
        text-wrap:nowrap;
    }

    #main-menu .button:hover
    {
        width:50%
    }

    #menu-toggle:checked + nav #main-menu
    {
        height:calc(var(--size-btn) * 4 + var(--size-regular) * 5);
    }

    #menu-toggle:checked + nav #main-menu .button
    {
        display:flex;
    }

    #logo
    {
        left:5%;
    }

    .tgl-button
    {
        display:block;
    }
}

@media (prefers-color-scheme: dark)
{}