
:root
{
    --white:#f4f2fc;
    --white-dark:#bcaffb;
    --primary-light:#937ef7;
    --primary:#6552bd;
    --primary-dark:#4a3988;
    --dark:#150540;
    --secondary:#12bbb2;
    --secondary-light:#82f3e9;
    --size-ultra-sm:5px;
    --size-small:10px;
    --size-regular:20px;
    --size-big:50px;
    --size-btn:40px
}

@font-face 
{
    font-family:'D4_base';
    src:url('Wattauchimma.ttf') format('truetype');
}

body
{
    -ms-user-select:none; 
    -moz-user-select:none; 
    -webkit-user-select:none; 
    user-select:none; 
    padding:0px;
    margin:0px;   
    font-family:D4_base, sans-serif;
}

.box
{
    width:100%;
    height:100vh;
}

.bg-dark
{background-color:var(--dark);}

.bg-white
{background-color:var(--white);}

.bg-white-dark
{background-color:var(--white-dark);}

.bg-primary-light
{background-color:var(--primary-light)}

.bg-primary
{background-color:var(--primary)}

.bg-primary-dark
{background-color:var(--primary-dark)}

.bg-secondary
{background-color:var(--secondary);}

.bg-secondary-light
{background-color:var(--secondary-light);}

.button
{
    height:var(--size-btn);
    border-radius:calc(var(--size-btn) / 2);
    border-width:var(--size-ultra-sm);
    border-style:solid;
    text-decoration:none;
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
}

.container
{
    width:100%;
    height:fit-content;
}

.font-c-dark
{
    color:var(--dark);
}

.font-c-white
{color:var(--white)}

.font-c-secondary
{color:var(--secondary)}

.font-s-reg
{font-size:var(--size-regular);}

.menu
{
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    position:fixed;
    box-sizing:border-box;
}

#main-menu
{
    height:calc(var(--size-btn) + var(--size-small) * 2);
    top:5px;
}

#main-menu .button
{
    width:12%;
    height:0px;
    border:none;
    transition:height 0.5s ease, color 0.5s ease;
}

#main-menu .button:hover
{
    height:40px;
    color:var(--dark)
}

#menu-toggle
{
    display:none;
}

.pd-sm
{padding:var(--size-small);}

.pd-sm-top
{padding:var(--size-small) 0 var(--size-small) 0;}

.pd-reg
{padding:var(--size-regular);}

.pd-10-right
{padding-right:10%;}

.pd-5-left
{padding-left:5%}

.pos-abs
{
    position:absolute;
}

.tgl-button
{
    width:40px;
    height:40px;
    background:red;
    display:none;
    top:10px;
    left:15%;
    cursor:pointer;
}

@media screen and (max-width:640px)
{
    #main-menu
    {
        flex-flow:column;
        transition:height ease 0.5s;
        padding-left:10%;
    }

    #main-menu .button
    {
        display:none;
        width:0;
        transition:width 0.5s ease, color 0.5s ease;
        height:var(--size-btn);
        text-wrap:nowrap;
    }

    #main-menu .button:hover
    {
        width:50%
    }

    #menu-toggle:checked + nav #main-menu
    {
        height:calc(var(--size-btn) * 4 + var(--size-regular) * 5);
    }

    #menu-toggle:checked + nav #main-menu .button
    {
        display:flex;
    }

    .tgl-button
    {
        display:block;
    }
}

@media screen and (min-width:640px)
{

}